<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Monster Slayer</h1>
  </header>
  <div id="game">

    <!-- Monster Health Bar -->
    <section id="monster" class="container">
      <h2>Monster Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="monsterHealthBar"></div>
      </div>
    </section>
    <!-- Player Health Bar -->
    <section id="player" class="container">
      <h2>Your Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="playerHealthBar"></div>
      </div>
    </section>
    <!-- Game Over Space -->
    <section class="container" v-if="winner">
      <h2>Game Over!</h2>
      <h3 v-if="winner === 'player'">You won!</h3>
      <h3 v-else-if="winner === 'monster'">You Lost!</h3>
      <h3 v-else>It's a Draw!</h3>
      <button @click="startNewGame">Start New Game</button>
    </section>
    <!-- Game Controls -->
    <section id="controls" v-else>
      <button @click="attackMonster">ATTACK</button>
      <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster">SPECIAL ATTACK</button>
      <button @click="healPlayer">HEAL</button>
      <button @click="surrender">SURRENDER</button>
    </section>
    <!-- Battle Log Section -->
    <section id="log" class="container">
      <h2>Battle Log</h2>
      <ul>
        <li v-for="log in battleLog">
          <span
          :class="{
            'log--player':log.actionBy === 'player',
            'log--monster': log.actionBy === 'monster',
          }"
          >{{ log.actionBy ==='player' ? 'Player':'Monster' }}</span>
          <span v-if="log.actionType === 'heals'"> Heals himself for <span class="log--heal">{{ log.actionPoint }}</span></span>
          <span v-else> attacks and deals <span class="log--damage">{{ log.actionPoint }}</span></span>
        </li>
      </ul>
    </section>

  </div>
</body>

</html>